<div id="answer">
<%= f.label :content, "Answer" %><br />
<%= f.text_field :content %> <br />
<% if !@question.new_record? %>
  <%= radio_button("question", "correct_answer_id",f.object.id) %>
<%end %>
<%= link_to_remove_fields "remove", f %><br />
 </div>

