<div id="question_countdown">
</div>
<%= javascript_tag do %>
  $("#question_countdown").countdown({
    date: <%=@question.enddate.to_i*1000 %>,
    htmlTemplate: "%h:%i:%s",
    onComplete: function(event){
    alert("done!")},
    leadingZero: true
    });
  <%end%>
  <% if can? :update, @question %>
    <%= link_to "Stop", "/questions/#{params[:id]}/stop", :remote=>true %><br />
  <% end %>
